<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>HomePage</title>
</head>
<body>
  <h1>URL Shortener</h1>

  <% if (locals.id) { %>
    <p>URL Generated: http://localhost:8001/url/<%= id %></p>
  <% } %>

  <div>
    <form method="POST" action="/url">
      <label>Enter your original URL</label>
      <input type="text" name="url" placeholder="https://example.com" />
      <button type="submit">Generate</button>
    </form>
  </div>

  
  
</body>
</html>
